@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');
* {
    /* border: 2px solid red; */
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.width-holder {
    display: flex;
    max-width: 800px;
    flex-direction: column;
}


.section {
    display: flex;
    justify-content: center;
}

.s1,
footer {
    background-color: #1f2937;
}

.s1 {
    color: #e5e7eb;
}

.s2 {

}

.s3 {
    background-color:#e5e7eb;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #e5e7eb;
    padding-top: 16px;
}

.logo {
    font-weight: bold;
    font-size: 24px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.hero-card{
    display: flex;
    align-items: center;
    margin: 100px 0;
}

.hero-text {
    display: flex;
    flex-direction: column;
}

.hero-main {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

.image-placeholder {
    height: 100%;
    width: 775px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
}

.signup {
    background-color: #3882f6;
    color: white;
    font-weight: bold;
    width: 90px;
    height: 30px;
    flex: 0 0 auto;
    border: none;
    border-radius: 10px
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    color: #f9faf8;
}